*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
html,body{
    display:grid ;
height: 100%;
place-items: center;
text-align: center;
background: #000;
}
.container{
  display: none;
}