.havana{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
   
   
}

  .polaroid {
   
    margin: auto;
    border: 0.4px solid rgb(0, 0, 0);
    padding: 12px;
    width: 98%;
    background-color: rgb(255, 188, 188);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  /* .cardp{
    padding: 2px;
  } */
  .bgvideo{
    max-width: 100%;
    width: 100%;

  }
  